.card {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.card-title {
  margin-bottom: 31px;
}

.card-title p {
  margin: 3px;
  width: 84px;
  height: 18px;
  font-family: MaaxTrial;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
}


#left-card {
  margin-left: 0px
}

#right-card {
  margin-right: 0px;
}
